<ion-content color="primary">
  <div class="container">
    <div class="header">
      <button class="waves-effect btn header-btn color-primary" (click)="showHome()">
        <ion-icon class="btn-icon pt-3" name="home"></ion-icon>
      </button>
      <button class="waves-effect btn header-btn color-primary" (click)="showSettings()">
        <ion-icon class="btn-icon pt-3" name="settings"></ion-icon>
      </button>
      <img class="header-logo" src="../../assets/1050x300-FreightSnap-Logo.png" />
    </div>
    <div class="content">
      <div id="home-section">
        <div id="reference-number-section" class="row">
          <div class="input-field col s10">
            <ion-label class="pro-number-placeholder bold" position="stacked">PRO #</ion-label>
            <ion-input id="pro-number" placeholder="Type Or Scan" required type="text" (change)="setRefNumber()"
              [(ngModel)]="reference_number"></ion-input>
          </div>
          <button class="waves-effect btn barcode-btn color-primary" (click)="barcodeScan()">
            <ion-icon name="barcode-outline" class="barcode-icon"></ion-icon>
          </button>
        </div>


        <div id="status-section" class="status-section color-yellow">
          <p id="status">STARTING</p>
        </div>
        <div class="waves-effect waves-light btn screen-area">
          <img class="sensor-image" id="sensor-image" src="" />
        </div>
        <button class="waves-effect btn color-primary scan-btn" (click)="scan()">SCAN</button>
        <div class="measurement-section">
          <div class="tile">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <h1 class="left">Length</h1>
                </div>
                <div class="col s6">
                  <h1 id="length" class="right">N/A</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="tile">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <h1 class="left">Width</h1>
                </div>
                <div class="col s6">
                  <h1 id="width" class="right">N/A</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="tile">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <h1 class="left">Height</h1>
                </div>
                <div class="col s6">
                  <h1 id="height" class="right">N/A</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="tile">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <h1 class="left">Weight</h1>
                </div>
                <div class="col s6">
                  <h1 id="weight" class="right">N/A</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="settings-section" class="settings-section hide">
    <div class="setting-header white-text color-secondary">
      <div class="left">
        <p class="header-link inline-block" (click)="showSettingsPage('upload')">UPLOAD</p>
        <P class="header-link inline-block" (click)="showSettingsPage('camera')">CAMERA</P>
        <p class="header-link inline-block" (click)="showSettingsPage('scale')">SCALE</p>
      </div>
      <div class="right">
        <p id="settings-title" class="header-title">CLOUD SETTINGS</p>
      </div>
    </div>
    <div id="setting-content-upload">
      <div class="checkbox-section">
        <ion-item color="primary">
          <ion-label>UPLOAD</ion-label>
          <ion-checkbox color="primary" checked slot="start" (ionChange)="checkUploadSettings()"
            [(ngModel)]="uploadChecked"></ion-checkbox>
        </ion-item>
        <ion-item color="primary">
          <ion-label>REFERENCE NUMBER</ion-label>
          <ion-checkbox color="primary" checked slot="start" (ionChange)="checkRefSettings()" [(ngModel)]="refChecked">
          </ion-checkbox>
        </ion-item>
        <ion-item color="primary">
          <ion-label>LOCAL SAVE</ion-label>
          <ion-checkbox color="primary" checked slot="start" (ionChange)="checkLocalSaveSettings()"
            [(ngModel)]="localSaveChecked"></ion-checkbox>
        </ion-item>
      </div>
      <div class="input-section">
        <div class="row">
          <div class="container">
            <ion-label position="floating">IP Address<Address></Address>
            </ion-label>
            <ion-input placeholder="EX: 192.168.0.190" [(ngModel)]="ipAddress"></ion-input>
          </div>
          <div class="col s6">
            <div class="container">
              <ion-label position="floating">User ID</ion-label>
              <ion-input [(ngModel)]="settings_userId"></ion-input>
            </div>
          </div>
          <div class="col s6">
            <div class="container">
              <ion-label position="floating">Company ID</ion-label>
              <ion-input [(ngModel)]="settings_companyId"></ion-input>
            </div>
          </div>
          <div class="col s6">
            <div class="container">
              <ion-label position="floating">Terminal ID</ion-label>
              <ion-input [(ngModel)]="settings_terminalId"></ion-input>
            </div>
          </div>
          <div class="col s6">
            <div class="container">
              <ion-label position="floating">Scanner ID</ion-label>
              <ion-input [(ngModel)]="settings_scannerId"></ion-input>
            </div>
          </div>
        </div>
        <div class="container pb-2">
          <ion-label position="floating">Company Name</ion-label>
          <ion-input [(ngModel)]="settings_companyName"></ion-input>
          <button class="waves-effect btn color-primary settings-btn" (click)="saveSettings()">SAVE
            CONFIGURATION</button>
          <button class="waves-effect btn color-grey settings-btn" (click)="cancelSettings()">CANCEL</button>
        </div>
      </div>
    </div>
    <div id="setting-content-camera" class="hide container center pb-2">
      <button class="waves-effect btn color-primary settings-btn">SCAN</button>
      <button class="waves-effect btn color-primary settings-btn">SAVE</button>
      <div class="row">
        <div class="col s12">
          Distance To Floor:
          <div class="input-field inline">
            <input style="width: 50px; text-align: center;" id="email_inline" type="email" class="validate" [(ngModel)]="settings_distanceToFloor">
          </div>
        </div>
      </div>
      <p>Top</p>
      <button class="waves-effect btn color-primary settings-arrow-btn">
        <ion-icon name="arrow-up-outline" class="btn-icon"></ion-icon>
      </button>
      <br />
      <button class="waves-effect btn color-primary settings-arrow-btn">
        <ion-icon name="arrow-down-outline" class="btn-icon"></ion-icon>
      </button>
      <div class="row">
        <div class="col s6">
          <button class="waves-effect btn color-primary settings-arrow-btn">
            <ion-icon name="arrow-back-outline" class="btn-icon"></ion-icon>
          </button>
          <button class="waves-effect btn color-primary settings-arrow-btn">
            <ion-icon name="arrow-forward-outline" class="btn-icon"></ion-icon>
          </button>
          <p style="display: inline-block; margin-left: 5px;">Left</p>
        </div>
        <div class="col s6">
          <p style="display: inline-block; margin-left: 10px; margin-right: 5px;">Right</p>
          <button class="waves-effect btn color-primary settings-arrow-btn">
            <ion-icon name="arrow-back-outline" class="btn-icon"></ion-icon>
          </button>
          <button class="waves-effect btn color-primary settings-arrow-btn">
            <ion-icon name="arrow-forward-outline" class="btn-icon"></ion-icon>
          </button>
        </div>
      </div>
      <button class="waves-effect btn color-primary settings-arrow-btn">
        <ion-icon name="arrow-up-outline" class="btn-icon"></ion-icon>
      </button>
      <br />
      <button class="waves-effect btn color-primary settings-arrow-btn">
        <ion-icon name="arrow-down-outline" class="btn-icon"></ion-icon>
      </button>
      <p>Bottom</p>
    </div>
    <div id="setting-content-scale" class="hide">
      <p>SCALE</p>
    </div>
  </div>
</ion-content>