<ion-content color="primary">
  <div class="container">
    <div class="header">
      <button class="waves-effect btn header-btn color-primary" (click)="showHome()">
        <ion-icon class="btn-icon pt-3" name="home"></ion-icon>
      </button>
      <button class="waves-effect btn header-btn color-primary" (click)="showSettings()">
        <ion-icon class="btn-icon pt-3" name="settings"></ion-icon>
      </button>
      <img class="header-logo" src="../../assets/1050x300-FreightSnap-Logo.png" />
    </div>
    <div class="content">
      <div id="home-section">
        <div class="input-field col s12">
          <input id="pro_number" type="text" class="validate color-black black-text" [(ngModel)]="reference_number">
          <label for="pro_number" class="pro-number-placeholder">PRO #</label>
        </div>
        <div id="status-section" class="status-section color-yellow">
          <p id="status">STARTING</p>
        </div>
        <div class="waves-effect waves-light btn screen-area">
          <img class="sensor-image" id="sensor_image" src="" />
        </div>
        <button class="waves-effect btn color-primary scan-btn" (click)="scan()">SCAN</button>
        <div class="measurement-section">
          <div class="tile">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <h1 class="left">Length</h1>
                </div>
                <div class="col s6">
                  <h1 id="length" class="right">N/A</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="tile">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <h1 class="left">Width</h1>
                </div>
                <div class="col s6">
                  <h1 id="width" class="right">N/A</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="tile">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <h1 class="left">Height</h1>
                </div>
                <div class="col s6">
                  <h1 id="height" class="right">N/A</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="tile">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <h1 class="left">Weight</h1>
                </div>
                <div class="col s6">
                  <h1 id="weight" class="right">N/A</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="settings-section" class="settings-section hide">
    <div class="setting-header white-text color-secondary">
      <div class="left">
        <p class="header-link inline" (click)="showSettingsPage('upload')">UPLOAD</p>
        <P class="header-link inline" (click)="showSettingsPage('camera')">CAMERA</P>
        <p class="header-link inline" (click)="showSettingsPage('scale')">SCALE</p>
      </div>
      <div class="right">
        <p id="settings-title" class="header-title">CLOUD SETTINGS</p>
      </div>
    </div>
    <div id="setting-content-upload">
      <div class="checkbox-section">
        <ion-item color="primary">
          <ion-label>UPLOAD</ion-label>
          <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
        </ion-item>
        <ion-item color="primary">
          <ion-label>REFERENCE NUMBER</ion-label>
          <ion-checkbox color="primary" checked slot="start" checked="true"></ion-checkbox>
        </ion-item>
        <ion-item color="primary">
          <ion-label>LOCAL SAVE</ion-label>
          <ion-checkbox color="primary" checked slot="start" checked="false"></ion-checkbox>
        </ion-item>
      </div>
      <div class="input-section">
        <div class="row">
          <div class="col s6">
            <ion-label position="floating">User ID</ion-label>
            <ion-input></ion-input>
          </div>
          <div class="col s6">
            <ion-label position="floating">Company ID</ion-label>
            <ion-input></ion-input>
          </div>
          <div class="col s6">
            <ion-label position="floating">Terminal ID</ion-label>
            <ion-input></ion-input>
          </div>
          <div class="col s6">
            <ion-label position="floating">Scanner ID</ion-label>
            <ion-input></ion-input>
          </div>
        </div>
        <div class="container">
          <ion-label position="floating">Company Name</ion-label>
          <ion-input></ion-input>
          <button class="waves-effect btn color-primary settings-btn">SAVE CONFIGURATION</button>
          <button class="waves-effect btn color-grey settings-btn">CANCEL</button>
        </div>
      </div>
    </div>
    <div id="setting-content-camera" class="hide">
      <p>CAMERA</p>
    </div>
    <div id="setting-content-scale" class="hide">
      <p>SCALE</p>
    </div>
  </div>
</ion-content>